body {
    font-family: 'Press Start 2P', cursive;
    background: url(../images/pokemon3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    text-align: center;
    font-size: 50px;
}

.displaybox {
    margin: 100px 0 0 0;
    text-align: center;
}

.answerchoice {
    border: 1px solid black;
    border-radius: 5%;
    width: 40%;
    color: black;
    text-align: center;
    margin: 10px auto;
    font-size: 20px;
    background-color: white;
}

p {
    margin: 10px;
    font-weight: bold;
    color: red;
    font-size: 20px;
}